<!DOCTYPE html>
<html>
  <head>
    <title>Web Supx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/supx.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="container">
<%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html
